.stepBox{
  margin-top: 25px;
  margin-bottom: 25px;
}

.cust_iputRoot {
   display: flex;
   align-items: center;
   width: 100% !important;
}
.cust_iputLabel {
   min-width: 130px;
   margin-right: 10px;
}
.cust_iputWrapper {
   width: 100% !important;
   max-width: 350px;
}

.fileIcon{
   width: 20px;
   height: 20px;
}




