html,
body {
  font-family: "Mukta", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  background-color: var(--body-background) !important;
  color: var(--color-dark);
}

P {
  font-size: 16px !important;
}
.font_14 {
  font-size: 14px !important;
}
.font_18 {
  font-size: 18px !important;
}
.font_20 {
  font-size: 20px;
}

.color-light {
  color: var(--color-light);
}
.color-dark {
  color: var(--color-dark);
}

.wrapper {
  margin: 0 0 0 290px;
  padding-top: 90px;
  padding-right: 30px;
  min-height: 100vh;
}

.itemCard {
  padding: 30px 40px;
  border: 1px solid #ededed;
  border-radius: 7px;
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pageTop a,
.pageTop span {
  color: var(--color-light);
  text-decoration: none;
}
.pageTop a:hover {
  text-decoration: underline;
}
.mantine-Breadcrumbs-separator {
  opacity: 0.8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/*======================
employee manage css start
========================*/
.table_user_img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
}
/*=====================
employee manage css end
=======================*/

/* CSS */
.button-16 {
  background-color: rgba(199, 199, 199, 0.643);
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 25px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.button-16:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.button-16:focus {
  border-color: #4285f4;
  outline: none;
}

.employee_table {
  position: relative;
}
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

// .employee_table tr th:nth-child(1) {
//   width: 44px;
// }
// .employee_table tr th:nth-child(2) {
//   width: 44px;
// }
// .employee_table tr th:nth-child(3) {
//   width: 88px;
// }
// .employee_table tr th:nth-child(4),
// .employee_table tr th:nth-child(5),
// .employee_table tr th:nth-child(6) {
//   width: 150px;
// }

// .spinner {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.app-button {
  transition: all 0.5s !important;
  min-width: 92px;
}
.spinner {
  margin-left: 5px;
}
.success-feedback {
  color: #198754;
}

.form-select,
.form-control {
  border-radius: 4px !important;
  min-height: 38px;
  border-color: hsl(0, 0%, 80%) !important;
  transition: all 100ms !important;
}
.form-select:hover,
.form-control:hover {
  border-color: hsl(0, 0%, 70%) !important;
}
.form-select:focus,
.form-control:focus {
  border-color: var(--hrm-theme-color-secondary) !important;
}
.select__control {
  box-shadow: none !important;
}
.select__control--is-focused {
  border-color: var(--hrm-theme-color-secondary) !important;
}

// dynamic form
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.button-section {
  margin-left: 26%;
}
.button {
  padding: 8px 20px;
  background-color: #683091;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  transition: all linear 0.3s;
}
.dynami_button {
  padding: 8px 20px;
  background-color: #683091;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  transition: all linear 0.3s;
}

.button:hover {
  background-color: #683091;
}

.remove {
  background-color: rgb(192, 53, 53);
}
.remove:hover {
  background-color: rgb(187, 43, 43);
}
.disabled {
  cursor: no-drop;
}

// reset
.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: var(--bs-form-invalid-border-color) !important;
  padding-right: 0.75rem !important;
  background-image: none !important;
}
.is-invalid .select__control {
  border-color: var(--bs-form-invalid-border-color) !important;
}

.login_bg {
  height: 100vh;
  /* background: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url(/login.jpg); */
  background-size: cover;
  background-color: #e0f5ff;
}
.div_height {
  height: 100vh;
  display: flex;
  align-items: center;
}
.login_form {
  margin-left: 50%;
  transform: translate(-50%);
}
.form_padding {
  padding: 13px 10px;
}

/* forgot_password */
.forgot_password {
  // background: linear-gradient(
  //     0deg,
  //     rgba(255, 0, 150, 0.3),
  //     rgba(255, 0, 150, 0.3)
  //   ),
  //   url(../../public/login.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #e0f5ff;
}

.datatable_header {
  // background-color: #aaa !important;
  height: 60px !important;
}
.datatable_table[data-striped] tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2 !important;
}

.modalTitle {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: var(--color-dark);
}

.cusBtn {
  height: 42px !important;
  // padding: 0 25px !important;
  border-radius: 100px !important;
  background-color: var(--main-color) !important;
}

.cusNav {
  color: var(--mantine-color-white);
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  background-color: var(--main-color);
}

.auth_box {
  box-shadow: 0 0 30px rgba(186, 203, 210, 0.2509803922);
}

.column_visibility_dropdown {
  height: 0;
  padding: 0 !important;
}
.column_visibility_root {
  width: 200px;
  height: 0;
}
.column_visibility_input {
  height: 0 !important;
  visibility: hidden;
  padding: 0 !important;
  min-height: 0 !important;
}
.column_visibility_input span {
  background-color: transparent;
}
.column_visibility_input button,
.column_visibility_input svg {
  display: none;
}
.column_visibility_btn {
  padding: 0 7px 0 14px !important;
}
.column_visibility_btn_section {
  --_button-section-margin-left: 5px !important;
}
