.filterDropdown{
  box-shadow: none;
  border: none;
}

.selectFilter{
  box-shadow: none !important;
  border: none !important;
  width: 100% !important;
  padding: 0 16px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
}











