#leavePolicy .cust_iputWrapper {
   max-width: 100% !important;
}
#leavePolicy.itemCard {
   min-height: 350px;
}

.employee_data {
   padding: 10px;
   border: 1px solid #dee2e6;
   border-radius: 5px;
   //  background-color: #eee;
   //  height: 200px;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}
