.cardBox {
  width: calc(20% - 1rem);
  padding: 15px;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
}

.leaveTitle {
  font-weight: bold;
  font-size: 16px;
}

.leaveLeft {
  color: var(--main-color) !important;
}
