.profileEditBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 6px 10px;
  border: 0px;
  border-radius: 8px;
  background-color: #eee;
}
.profileEditBtn .iconBtn {
  font-size: 18px;
  color: #666;
}
.profile {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
}
.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.proOverly {
  text-align: center;
  position: absolute;
  bottom: -55px;
  padding: 15px 20px;
  left: 0;
  width: 100%;
  background-color: #ffffffcc;
  transition: all 0.3s ease-in-out;
}
.proOverly svg {
  font-size: 20px;
  color: #888;
}
.profile:hover .proOverly {
  bottom: 0px;
}
.profile.profileEdit {
  margin: auto;
  border-radius: 0px;
}
.profile.profileEdit .proOverly {
  bottom: 0px;
}
.jiaur {
  color: #333 !important;
  width: 200px !important;
  border-radius: 0 !important;
  background-color: #ddd !important;
}
.jiaur:active {
  transform: translateY(0) !important;
}

.employeeName {
  color: #373b3e;
  font-size: 1.5rem;
}
.employeeDesig,
.employeeJoin {
  color: #7a7c7f;
}

.borderRight {
  border-right: 2px dashed #ddd;
}
.employeeInfo p {
  color: #7a7c7f;
  margin-bottom: 5px;
}
.employeeInfo span {
  display: inline-block;
  color: #373b3e;
  font-weight: 600;
  width: 200px;
}
.phnNumber,
.email {
  color: var(--main-color);
  text-decoration: none;
}
.roundIcon {
  font-size: 12px;
  margin-bottom: 4px;
  margin-right: 10px;
  color: var(--main-color);
}
.reportsImg {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100px;
  margin-right: 10px;
}
.docItem {
  border: 0 !important;
  padding: 25px 20px !important;
  border-radius: 8px !important;
  min-width: 180px;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.docItem svg,
.docItem h6 {
  fill: rgb(0, 0, 0) !important;
  color: rgb(0, 0, 0) !important;
}
.docBtn {
  font-size: 33px;
  margin-bottom: 5px;
}
.documentsImage {
  width: 100%;
  height: auto;
}
.borderLeft {
  position: relative;
  border-left: 2px dashed #ddd;
  padding-left: 15px;
  margin-bottom: 40px;
}
.borderLeft::after {
  content: "";
  width: 4px;
  height: 20px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: -3px;
  background: #ccc;
  // background: linear-gradient(180deg, rgba(255,155,69,1) 0%, rgba(0,212,255,0) 100%);
}

.borderLeft:nth-last-child(1) {
  margin-bottom: 0px !important;
}
