.profileEditBtn {
   position: absolute;
   right: 20px;
   top: 20px;
   padding: 6px 10px;
   border: 0px;
   border-radius: 8px;
   background-color: #eee;
}
.profileEditBtn .iconBtn {
   font-size: 18px;
   color: #666;
}
.profile img {
   width: 130px;
   height: 130px;
   object-fit: cover;
   border-radius: 100%;
}
.employeeName {
   color: #373b3e;
   font-size: 1.5rem;
}
.employeeDesig,
.employeeJoin {
   color: #7a7c7f;
}

.borderRight {
   border-right: 2px dashed #ddd;
}
.employeeInfo p {
   color: #7a7c7f;
   margin-bottom: 5px;
}
.employeeInfo span {
   display: inline-block;
   color: #373b3e;
   font-weight: 600;
   width: 200px;
}
.phnNumber,
.email {
   color: var(--main-color);
   text-decoration: none;
}
.roundIcon {
   font-size: 12px;
   margin-bottom: 4px;
   margin-right: 4px;
   color: var(--main-color);
}
.reportsImg {
   width: 30px;
   height: 30px;
   object-fit: cover;
   border-radius: 100px;
   margin-right: 10px;
}
