@media (max-width: 767px) {
  .showItem {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .downItem {
    width: 100% !important;
    justify-content: flex-start !important;
  }
  .cust_iputRoot.notFlex {
    display: initial !important;
  }
}
@media (max-width: 991px) {
  .forDesktop {
    display: none;
  }
  .profileBox {
    margin-left: auto !important;
  }
}
@media (min-width: 992px) {
  .forPhone {
    display: none;
  }
}


// .dt_cell_xs {
//   width: 30px !important;
//   background-color: #ddd !important;
//   border-left: 1px solid #333;
// }
// .dt_cell_sm {
//   width: 70px !important;
//   background-color: #ddd !important;
//   border-left: 1px solid #333;
// }
// .dt_cell_md {
//   width: 170px !important;
//   background-color: #ddd !important;
//   border-left: 1px solid #333;
// }
// .dt_cell_lg {
//   width: 300px !important;
//   background-color: #ddd !important;
//   border-left: 1px solid #333;
// }
