@media (max-width: 767px) {
  .showItem {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .downItem {
    width: 100% !important;
    justify-content: flex-start !important;
  }
  .cust_iputRoot.notFlex {
    display: initial !important;
  }
  .employeeLabel {
    min-width: auto !important;
    margin-right: 10px;
  }
  .pageTop {
    margin-bottom: 15px;
  }
}
@media (max-width: 991px) {
  .forDesktop {
    display: none;
  }
  .profileBox {
    margin-left: auto !important;
  }
}
@media (min-width: 992px) {
  .forPhone {
    display: none;
  }
}

.employeeLabel {
  min-width: 130px;
  margin-right: 10px;
}

.cust_iputLabel.other_label {
  font-size: 16px !important;
  font-weight: normal !important;
}
