:root,
::after,
::before {
  --hrm-white: #ffffff;
  --hrm-black: #000000;
  --hrm-success: #28a745;
  --hrm-danger: #dc3545; 
  --hrm-warning: #ffc107;

  // theme color
  --main-color: #ff9b45; // updated
  --sidebar-color: #34444c; // updated
  --gradient-color: linear-gradient(to right, #ff9b47 0%, #fc6075 100%); // updated


  // text color
  --body-text-color: #333333; // updated
  --menu-color: #c5ccd7; // updated

  // background color
  --body-background: #f7f7f7; // updated


  // button color
  --button-color-primary: #10bc83;


  // border color
  --hrm-border-primary: rgba(238, 238, 238, 1);
  --hrm-border-secondary: rgba(119, 119, 119, 1);

  // border radius
  --hrm-border-radius-alpha: 15px / 30px;
  --hrm-border-radius-alpha: 191px 90px 60px 59px/60px 60px 123px 163px;
  --hrm-border-radius-alpha: 20px 20px 32px 32px;
  --hrm-border-radius-primary: 20px;

  // shadow
  --hrm-box-shadow-primary: 0 2.5rem 3.125rem rgb(103 118 128 / 10%);
  --hrm-drop-shadow: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));

  // scrollbar
  --hrm-scrollbar-thumb: #c1c1c1;

  // icon color
  --hrm-brand-facebook: #1877f2;
  --hrm-brand-stackoverflow: #f48024;
  --hrm-brand-github: #6cc644;
  --hrm-brand-linkedin: #0077b5;
  --hrm-brand-whatsapp: #075e54;
  --hrm-brand-messenger: #0084ff;
  --hrm-brand-skype: #00aff0;

  --hrm-icon-mobile: #e93b81;
  --hrm-icon-email: #6ab5b9;
  --hrm-icon-location: #0077b3;
  --hrm-icon-flag: #00684d;

  // transition
  --hrm-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --hrm-transition-duration: 300ms;

  // transform
  --hrm-transform-primary: skew(10deg, -10deg);
}

.dark,
.dark ::after,
.dark ::before {
  // text color
  --hrm-text-color-primary: #aaaaaa;
  --hrm-text-color-secondary: #eeeeee;
  --hrm-text-color-tertiary: #64554c;
  --hrm-text-color-designation: #848484;
  --hrm-text-color-menu: #999999;

  // background color
  --hrm-background-color-primary: #111111;
  --hrm-background-color-secondary: #1d1d1d;

  // gradient background
  --hrm-background-gradient-from: rgba(51, 28, 46, 0.9);
  --hrm-background-gradient-to: rgba(38, 19, 48, 0.8);

  // backdrop
  --hrm-backdrop-background: rgba(255, 255, 255, 0.3);

  // border color
  --hrm-border-primary: rgba(58, 58, 58, 1);
  --hrm-border-secondary: rgba(136, 136, 136, 1);

  // shadow
  --hrm-box-shadow-primary: 0 2.5rem 3.125rem rgb(103 118 128 / 10%);
  --hrm-drop-shadow: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));

  // scrollbar
  --hrm-scrollbar-thumb: #2e2e2e;
}

@media (prefers-color-scheme: dark) {
}
